<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haogrgr.test.dao.TestMapper" >
    <resultMap id="BaseResultMap" type="com.haogrgr.test.model.TestModel" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, name, age, modify_time, create_time
    </sql>
    
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from test
        where id = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="getByIds" resultMap="BaseResultMap" >
        select 
        <include refid="Base_Column_List" />
        from test where id in 
        <foreach collection="list" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="getByPojo" resultMap="BaseResultMap" parameterType="com.haogrgr.test.model.TestModel" >
        select 
        <include refid="Base_Column_List" />
        from test 
        <where >
            <if test="id != null" >
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null" >
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="age != null" >
                and age = #{age,jdbcType=INTEGER}
            </if>
            <if test="modifyTime != null" >
                and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null" >
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    
    <sql id="getByPageSql" >
        select a.* from test a where 1=1 
        <if test="params.id != null" >
            and a.id = #{params.id,jdbcType=INTEGER}
        </if>
        <if test="params.name != null" >
            and a.name = #{params.name,jdbcType=VARCHAR}
        </if>
        <if test="params.age != null" >
            and a.age = #{params.age,jdbcType=INTEGER}
        </if>
        order by a.id desc
    </sql>
    
    <select id="getByPageList" resultMap="BaseResultMap" parameterType="PageInfo" >
        select temp.* from (
        <include refid="getByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="getByPageCount" resultType="java.lang.Integer" parameterType="PageInfo" >
        select count(1) from (
        <include refid="getByPageSql" />
        ) temp 
    </select>
    
    <select id="getAll" resultMap="BaseResultMap" >
        select 
        <include refid="Base_Column_List" />
        from test
    </select>
    
    <select id="getAllCount" resultType="java.lang.Integer" >
        select count(1) from test
    </select>
    
    <update id="modify" parameterType="com.haogrgr.test.model.TestModel" >
        update test
        set name = #{name,jdbcType=VARCHAR},
            age = #{age,jdbcType=INTEGER},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="modifySelective" parameterType="com.haogrgr.test.model.TestModel" >
        update test
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <insert id="save" parameterType="com.haogrgr.test.model.TestModel" useGeneratedKeys="true" keyProperty="id" >
        insert into test (name, age, modify_time, 
            create_time)
        values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, 
            #{createTime,jdbcType=TIMESTAMP})
    </insert>
    
    <insert id="saveBatch" parameterType="java.util.List" >
        insert into test (name, age, modify_time, create_time)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.name,jdbcType=VARCHAR}, #{item.age,jdbcType=INTEGER}, #{item.modifyTime,jdbcType=TIMESTAMP}, #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    
    <delete id="delById" parameterType="java.lang.Integer" >
        delete from test
        where id = #{id,jdbcType=INTEGER}
    </delete>
    
    <delete id="delByIds" >
        delete from test where id in 
        <foreach collection="list" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
</mapper>